<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @OnlineStore.Common.Properties.Labels.AppName</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")

    @*Site pattern is downloaded from www.toptal.com/designers/subtlepatterns/
        If you need more, that's where to get'em.*@

</head>
<body style='background-image: url("../../Images/light-grey-terrazzo.png")'>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container" style="position: relative;">
            <div class="navbar-header">
                <div class="navbar-header" style="color: whitesmoke; text-align: center; position:absolute; top: 15px; width: 100px; right: 100%;" id="timer"></div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(OnlineStore.Common.Properties.Labels.AppName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div style="display: flex; flex-direction: row; flex-basis: 100%; align-content: flex-end;" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Koszyk", "CartAll", "Cart", new { Area = "OnlineStore"}, null)</li>
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - @OnlineStore.Common.Properties.Labels.Copyrights</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


<script type="text/javascript">

    function CustomTimer() {

        let myTimer = document.getElementById("timer");
        let time = new Date();
        let timeTable = [time.getHours(), time.getMinutes(), time.getSeconds()];

        for (let i = 0; i < timeTable.length; i++) {
            if (parseInt(timeTable[i]) < 10)
                timeTable[i] = `0${timeTable[i]}`;
        }

        myTimer.innerHTML = `${timeTable[0]} : ${timeTable[1]} : ${timeTable[2]}`;

    }

    setInterval(CustomTimer, 1000);

</script>