@using OnlineStore.DBServices
@using OnlineStore.Data

@{
    ProductDBService productService = new ProductDBService();
    Product randomProduct = productService.GetRandomProduct();
    IList<Product> products = productService.GetProductCollection().ToList();
    ViewBag.Title = "Home Page";
}

@section scripts
{
    @Scripts.Render("~/Scripts/jquery-1.10.2.js")
}

<div class="jumbotron">
    <h1>@randomProduct.Name</h1>
    <img class="lead" src='@Url.Content("~/Images/" + randomProduct.Name + ".png")' width="250" height="200" />
</div>

<div class="row">

    @{
        for (int i = 0; i < 3; i++)
        {
            <div class="col-md-4">
                <h3>@products[i].Name</h3>
                <fieldset>
                    <img src='@Url.Content("~/Images/" + products[i].Name + ".png")' width="200" height="150" />
                </fieldset>
                <a style="margin-left: 25px; text-align: center" id="@products[i].Name" class="button btn btn-default">Dodaj do koszyka &raquo;</a>
                <input type="number" class="@products[i].Name" />
            </div>
        }
    }

</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>

<script type="text/javascript">

    $(".button").click(function () {

        let productName = this.id;

        let element = document.getElementsByClassName(productName);
        let amount = element[0].valueAsNumber;

        let url = '@Url.Action("AddProduct", "Cart", new { name = "_name_", amount = "_count_" }, null)';
        url = url.replace("_name_", productName);
        url = url.replace("_count_", amount);
        url = url.replace(";", "");
        url = url.replace("amp", "");
        console.log(url);
        window.location.href = url;
    })


</script>